.healthcare {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.healthcare__image {
    width: 650px;
    height: 467px;
}

.healthcare .black_rectangle{
    margin-top: 10px;
    margin-bottom: 15px;
}

.healthcare__text {
    width: 550px;
    padding-bottom: 154px;
    padding-left: 109px;
}

.healthcare .title {
    margin-top: 150px;
}

.healthcare .default_button{
    margin-top: 40px;
    background: transparent;
    border-color: #458FF6;
    color: #458FF6;
}

@media screen and (max-width: 768px) { 
    .healthcare__image {
        display: none;
    }

    .healthcare__text {
        padding: 0;
    }
}