b {
    text-decoration: none;
}

a {
    text-decoration: none;
}

li {
    display: block;
    border: solid 2px;
    padding: 10px;
    border-radius: 5%;
}
p {
    margin: 0;
}
h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

ul {
    list-style-type: none
}