

.nav_box {
    height: 100px;
    display: flex;
    align-items: center;
}

.nav_box ul {
    display: flex;
    list-style-type: none;
}

.nav_box a {
    display: flex;
    text-decoration: none;
    width: 5rem;
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(224, 255, 255, 0.9);
    border-radius: 12px;
    border: 1px solid black;
    justify-content: center;
}


.nav_box li {
    margin-right: 5rem;
}