.bottom_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.bottom_button {
    margin-right: 2rem;
    text-decoration-color: white;
    display: inline-block;
    font-size: 2rem;
    padding: 0.3rem 2rem;
    border-radius: 12px;
    border: 1px solid;
}

.count_input_box {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 7rem;
    margin-top: 5rem;
}

.bottom_button.go_back {
    background-color: black;
    color: white;
    border-color: black;
}
.bottom_button.add_to_cart {
    background-color: green;
    color: white;
    border-color: green;
    text-decoration: none;
}

.price {
    margin-left: 2.2rem;
}

.price_bottom {
    font-size: 2rem;
}

.counter_text {
    font-weight: bold;
    font-size: 25px;
}
.counter_field {
    width: 7rem;
    font-size: 20px;
}