.bottom_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-top: 5rem;
}

.bottom_button {
    margin-right: 2rem;
    text-decoration-color: white;
    display: inline-block;
    font-size: 2rem;
    padding: 0.3rem 2rem;
    border-radius: 12px;
    border: 1px solid;
}

.bottom_button.go_back {
    background-color: black;
    color: white;
    border-color: black;
}
.bottom_button.add_to_cart {
    background-color: green;
    color: white;
    border-color: green;
}

.price {
    margin-left: 2.2rem;
}

.price_bottom {
    font-size: 2rem;
}