.footer{
    border-top: 2px solid #000;
    display: flex;
    justify-content: space-around;
}

.inner_footer_box {
    width: 90%;
    border-bottom:12px solid #000 ;
    display: flex;
    justify-content: space-between;
    align-content: center;
}